body{
    position: relative;
}

.bg{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}

.tebel-banget {
    font-weight: 900;
  }
  
.tebel-sedang {
    font-weight: bold;
} 

.desc{
    max-width: 400px;
    color: #67678E;
    font-size: 18px;
}

.button {
    background-color: #6A69D3;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
  }
  
.button:hover {
    background-color: #3F308E;
    color: white;
}
  

.gambar{
  display: none;
}

.img{
  width: 600px;
  z-index: -1;
}

.link{
    color: #353376;
    text-decoration: none;
    transition: 0.3s;
}
  
.link:hover{
    color:  #6A69D3;
}

#projects{
  background-color: #6A69D3;
  margin-top: 85px;
  padding-top: 50px;
  color: white;
  padding-bottom: 100vh;
}

.card{
  padding: 3px;
  margin-top: 20px;
  color: #6A69D3;
  font-size: 14px;
  text-align: center;
  justify-content: center;
}

#contact{
  background-color: #6A69D3;
  margin-top: 85px;
  padding-top: 50px;
  color: white;
  padding-bottom: 100vh;
}